<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Modelo</title>
		<script src="assets/js/bundle.js" defer></script>
	</head>
	<body>
		<section class="container" data_container>
			<h1>Lorem ipsum dolor</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure
				quaerat laborum labore architecto debitis impedit minus ducimus
				deserunt expedita nam? Sed numquam sequi doloremque nisi non atque
				voluptas tempore minima?
			</p>
		</section>
	</body>
</html>