<%- include('includes/head'); %>
<section class="container" data_container>
	<h1>Lorem ipsum dolor sit amet</h1>
	<form action="/" method="post">
		<label for="client">Cliente</label>
		<input type="text" name="client" id="client" />
		<button type="submit">Enviar</button>
	</form>
</section>
<%- include('includes/footer'); %>
